* {
    display: flex;
    flex-direction: column;
}

title, style {
    display: none;
}

img {
    align-items: center;
}

div {
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
}

h2 {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 40px;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

main {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
}

#column {
    flex-direction: column;
    justify-content: space-around;
}

.animationall {
    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}

