* {
    display: flex;
    flex-direction: column;
}

title {
    display: none;
}

img {
    align-items: center;
}

div {
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
}

h2 {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 40px;
    font-weight: lighter;
}

main {
    align-items: center;
<<<<<<< HEAD
    font-size: 50px;
=======
}

title {
    display: none;
>>>>>>> 5de80f6e535e9731aae4a872cb4f52f0af449e2a
}