* {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 10em;
    align-items: center;
}

div {
    flex-direction: row;
    justify-content: space-around;
}

main {
    align-items: center;
}