<!DOCTYPE html>
<html>

<head>
    <title>&#128376; HangMan Web &#128376;</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="images/logo.jpg" width="600px" />
        <div>
            <h2>New Game</h2>
            <h2>Show Answer</h2>
        </div>
    </header>
    <main>
        <div>
            <p>Il reste _ essais!</p>
            <img src="images/0.jpg" width="255" />
            <p>_ _ _ _ _</p>
        </div>
        <div>
            <p>
                To-Do list for user: {{ .User }} 
              </p>
              <table>
                    <tr>
                    <td>Task</td>
                    <td>Done</td>
                  </tr>
                    {{ with .List }}
                      {{ range . }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ if .Done }}Yes{{ else }}No{{ end }}</td>
                            </tr>
                      {{ end }} 
                    {{ end }}
              </table>
        </div>
        <section class="animationall">
            <p>Triangle</p>
        </section>
    </main>
    <footer>
        <address>

        </address>
    </footer>
</body>

</html>